{% extends 'layout.html' %}

{% block body%}
    <br>
    <div class="jumbotron text-center">
        <h1>Welcome To School App</h1>
        <p class="lead">This application is build to let you learn more about the school</p>
        
        {% if session.logged_in == NULL %}
            <a href="/register" class="btn btn-primary btn-lg"> Register</a>
            <a href="/login" class="btn btn-outline-success btn-lg"> Login</a>
        
        {% else %}
        <a href="/dashboard" class="btn btn-outline-success btn-lg"> Dashboard</a>
        {% endif %}
   
    </div>

{% endblock%}